.aboutContact p {
	font-size: 5.8rem;
	letter-spacing: 0.2rem;
}

#social {
	max-height: px;
}

.social {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	bottom: 0;
	/*margin-bottom: 20px;*/
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}
.social:hover {
	opacity: 0.6;
	width: 40px;
	height: 42px;
	vertical-align: baseline;
}
.social:active {
	-moz-box-shadow: 10px 10px 5px #00bcd4;
	-webkit-box-shadow: 10px 10px 5px #00bcd4;
	box-shadow: 10px 10px 5px #00bcd4;

}
#git {
	margin-right: 15px;
}

#vizualize {
	height: 40px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}
#vizualize:hover {
	opacity: 0.9;
	height: 43px;
}

#mailform {
	font-size: 1.9rem;
}

#about-me {
	width: 100%;
	border-radius: 10%;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}
#contact-links a {
	color: #00BCD4;
}
#sender-name,
#sender-email,
#message {
	width: 80%;
}
