.aboutContact p {
	font-size: 5.8rem;
	letter-spacing: 0.2rem;
}

.social {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-bottom: 0.4rem;
}
.social-icon {
	margin-right: 0.39rem;
}

#about-me {
	width: 100%;
	border-radius: 10%;
}
