body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url('../images/concrete_seamless/concrete_seamless.png');
  background-repeat: repeat;
  z-index: 0;
}
p {
  font-size: 1.8rem;
}

#nav {
  width: 100%;
  height: 60px;
  background: #00bcd4;
  position: fixed;
  z-index: 100;

}

#logo {
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  width: 170px;
  height: 48px;
}

#my-name {
  display: inline-block;
  color: #fff;
	margin-left: 2rem;
  vertical-align: middle;
	font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#links {
  position: absolute;
  top: 1.7rem;
  right: 3rem;
}
#about, #contact, #portLink {
  display: inline-block;
  margin-left: 20px;
}

#links a {
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2rem;
}
#links a:hover {
  color: #7CFC00;
}

#main-page {
  font-family: 'Shadows Into Light', cursive;
}

#mouse-pic {
	width: 50px;
	height: 50px;
}

#me-trig,
#code-trig,
#drum-trig,
#dot-trig {
	font-size: 1.8rem;
}
#me {
	display: none;
	width: 100%;
	border-radius: 10%;
}

/*#code-trig {
	font-size: 1.8rem;
}*/
#code-boy {
	display: none;
	width: 90%;
	padding-right: 10px;
  border-radius: 10%;
}

/*#drum-trig {
	font-size: 1.8rem;
}*/
#drum {
	display: none;
	width: 100%;
	border-radius: 10%;
}

/*#dot-trig {
	font-size: 1.8rem;
}*/
#dots {
	display: none;
	width: 100%;
	border-radius: 10%;
}

#app-trig {
  height: 200px;
}

#app-trig h6 {
	font-size: 1.8rem;
}
#react {
  display: none;
  width: 100%;
  border-radius: 10%;
}
#work-trig {
  margin-bottom: 5px;
}
#navigate {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  width: 220px;
}
