body {
	font-family: 'Yanone Kaffeesatz', sans-serif;

}
p {
  font-size: 1.8rem;
}

.parallax-window {
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	margin-top: 50px;
	min-height: 6500px;
	opacity: 0.9;
  z-index: 1;

}
#social {
	display: inline-block;
	position: fixed;
	margin-right: 0;
	padding-right: 0;
	top: 850px;
	right: 80px;
}

#nav {
  width: 100%;
  height: 60px;
  background: #00bcd4;
  position: fixed;
  z-index: 100;

}

#logo {
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  width: 170px;
  height: 48px;
}
#logo:hover {
	opacity: 0.7;
}
.see {
	position: relative;
}
.see a {
	text-decoration: none;
	color: inherit;
}
#my-name {
  display: inline-block;
	margin-left: 2rem;
  vertical-align: top;
	margin-top: 15px;
	font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#my-name a {
	color: #fff;
	text-decoration: none;
}
#my-name a:hover {
  color: #7CFC00;
}

#links {
  position: absolute;
  top: 1.7rem;
  right: 5rem;
}
#cv-link, #about, #contact, #portLink  {
  display: inline-block;
  margin-left: 20px;
}

#links a {
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.5rem;
	letter-spacing: 1.9px;
}
#links a:hover {
  color: #7CFC00;
}
#scroll-prompt {
	padding-top: 2em;
	margin: auto;
	line-height: 60%;
	text-align: center;
	color: yellow;
}
#main-page {
	z-index: 3;
	letter-spacing: 1.9px;
}

#big-name {
	color: #FCFAC2;
	font-size: 6rem;
	position: fixed;
	margin-left: 13rem;
	z-index: 5;
}
#job-title {
	position:absolute;;
	top: 600px;
	right: 50px;
	width: 250px;
}
#web-developer {
	position: absolute;
	font-size: 4rem;
	letter-spacing: 1.9px;
	color: #fff;
}

#me-row {
	display: inline-block;
	position: relative;
	width: 61%;
	height: 40em;
	background: #000;
	opacity: 0.01;
	color:#fff;
	z-index: 2;
}

#me-caption {
	display: inline;
	position: absolute;
  bottom: 0px;

}
#me-row #me {
	display: inline-block;
	width: 27em;
	height: 40em;
	opacity: 1;
}
#me-row-b {
	width: 79%;
	position: absolute;
	right: 0;
	margin-top: 350px;
	height: 40em;
	background: #000;
	opacity: 0.01;
	color:#fff;
	z-index: 2;
}
#me-row-b #me2 {
	display: inline;
	position: absolute;
	right:0;
	width: 54em;
	height: 40em;
	vertical-align: baseline;
}
#me-row-b #me2-caption {
	display: inline;
	position: absolute;
	bottom: 0;
	left: 0;
}

#screen-dots {
	position: absolute;
	margin-top: 800px;
	left: 15em;
	border-radius: 50%;
	width: 17em;
	height: 17em;
	background: black;
	color: white;
	text-align: center;
}
#dots-text, #drill-text, #kids-text {
	margin-top: 2em;
}
#dot-screen, #drill-screen, #kids-screen {
	position: absolute;
	bottom: 4em;
	left: 4.5em;
	width: 9em;
	height: 6.5em;
}
#drill-dots {
	position: absolute;
	margin-top: 1200px;
	left: 50em;
	border-radius: 50%;
	width: 17em;
	height: 17em;
	background: black;
	color: white;
	text-align: center;
}


#band-kids {
	position: absolute;
	margin-top: 1650px;
	left: 80em;
	border-radius: 50%;
	width: 17em;
	height: 17em;
	background: black;
	color: white;
	text-align: center;
}
#boa {
	margin-top: 6.3em;
	font-size: 0.7rem;
}
#band-cds {
	position: absolute;
	margin-top: 2000px;
	background: black;
	height: 40em;
	width: 100%;
	color: #fff;
	letter-spacing: 1.9px;
}
#cd-row {
	margin-left: 4.5em;
}
.cd-cover {
	display: inline-block;
}

.cd-cover img {
	width: 13em;
	height: 13em;
	margin: 20px 5px;
}

#band-guys {
	position: absolute;
	margin-top: 2600px;
	background: black;
	height: 40em;
	width: 100%;
	color: #fff;
	letter-spacing: 1.9px;
}

.band-pic {
	display: inline-block;
	margin: 2em;
}

#ijo-one img{
	display: inline-block;

	width: 25rem;
	height: 20em;
}
#flip img{
	display: inline-block;
	width: 40rem;
	height: 20em;
}
#ijo-two img{
	display: inline-block;
	width: 18rem;
	height: 20em;
}
#wmu img{
	display: inline-block;
	width: 25rem;
	height: 20em;
}

#vegas {
	position: absolute;
	margin-top: 3300px;
	right: 0;
	background: #000;
	height: 320em;
	width: 50%;
	color: #fff;
	letter-spacing: 1.9px;
}
 /*#0CB5B2*/
.language {
	margin-left: 2em;
	margin-top: 2em;
}
#vegas #lv-land img {
	width: 50em;
	height: 30em;
	margin-left: 6em;
	border-radius: 2%;
}
#vegas #code-bug img {
	width: 50em;
	height: 30em;
	margin-left: 6em;
	border-radius: 2%;
}
#vegas #grrr img {
	width: 50em;
	height: 30em;
	margin-left: 6em;
	border-radius: 2%;
}
#vegas #school img {
	width: 30em;
	height: 30em;
	margin-left: 16em;
	border-radius: 2%;
}
#skrollr {
	margin-top: 15em;
	margin-left: 3em;
}
#skrollr img {
	margin-left: 1em;
	width: 1em;
	height: 1em;
}

#bottom-row {
	margin-top: 680em;
	width: 100%;
	height: 60em;
	background: black;
	color: yellow;
	z-index: 20;
}
.bottom {
	margin-top: 5em;
}
#me-small {
	width: 18em;
	height: 25em;
}
.bottom-photo {
	width: 30em;
	height: 20em;
}
